{% extends "catalog.html" %}
{% block content %}
{% include "header.html" %}

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	<!-- start-->
<div class="container">
	<div class="row sport-row">
		<div class="col-md-1"></div>
		


		<div class="col-md-10 sport-col">
			


			<div class="col-md-2 text-left">
				<h2>Categories</h2>
				<br>
				{% for sport in sports %}
			<a href = "{{url_for('showItem', sport_name = sport.name)}}">					
						<p>{{sport.name}}</p></a>
			{% endfor %}
			</div>
			<div class="col-md-8">
				
				<h2>Latest Items</h2>
				<br>
				{% for item in items %}
			<a href = "{{url_for('showItemDescription', sport_name = item.sport_name, item_name = item.name)}}">
			
						<p>{{item.name}}<span style="color:grey">({{item.sport_name}})</span></p></a>
					
			
	{% endfor %}
			
				
			</div>




		</div>




		<div class="col-md-1"></div>
	</div>

</div>

		<!-- <div class="col-md-1"></div>
        <div class="col-md-2 col1 text-left">
        	<div class="row">
			
				<div class="col-md-1"></div>
					<div class="col-md-10 sport-list">
						<h2>Categories</h2>
					</div>
				<div class="col-md-1"></div>
			
			</div>
        	
        	{% for sport in sports %}
			<a href = "{{url_for('showItem', sport_name = sport.name)}}">
			<div class="row">
			
				<div class="col-md-1"></div>
					<div class="col-md-10 sport-list">
						<p>{{sport.name}}</p>
					</div>
				<div class="col-md-1"></div>
			
		</div>
		</a>
	{% endfor %}
        </div>
        <div class="col-md-8 col2 text-left">
        	<div class="row">
			
				<div class="col-md-1"></div>
					<div class="col-md-10 sport-list">
						<h2>Latest Items</h2>
					</div>
				<div class="col-md-1"></div>
			
			</div>
        	{% for item in items %}
			<a href = "{{url_for('showItemDescription', sport_name = item.sport_name, item_name = item.name)}}">
			<div class="row">
			
				<div class="col-md-1"></div>
					<div class="col-md-10 sport-list">
						<p>{{item.name}}<span style="color:grey">({{item.sport_name}})</span></p>
					</div>
				<div class="col-md-1"></div>
			
			</div>
		</a>
	{% endfor %}
        </div>
        <div class="col-md-1"></div>
    </div> -->
{% endblock %}