{% extends "catalog.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 sport-col">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h3>{{item.name}}</h3>
				<p>Description: {{item.description}}</p>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class = "row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<a href = "{{url_for('editItem', sport_name = item.sport_name, item_name = item.name)}}">Edit |</a>
				<a href = "{{url_for('deleteItem', sport_name = item.sport_name, item_name = item.name)}}">Delete</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}