{% extends "catalog.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 sport-col text-left">
		<div class="col-md-4">
			<h4><b>Add Item</b></h4>
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Title:</label>
					<input type ="text" maxlength="50" class="form-control" name="name">
					<br>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>
					<br>
					<label for="category">Category:</label>
		            <select name="category" class="selectpicker form-control">
		              <option value="Soccer">Soccer</option>
		              <option value="Hockey">Hockey</option>
		              <option value="Skating">Skating</option>
		              <option value="Rock Climbing">Rock Climbing</option>
		              <option value="Snowboarding">Snowboarding</option>
		              <option value="Baseball">Baseball</option>
		              <option value="Basketball">Basketball</option>
		              <option value="Foosball">Foosball</option>
		              <option value="Frisbee">Frisbee</option>
		            </select>
		            <br>
    				<button type="submit" class="btn btn-primary">Submit</button>
    			</div>
			</form>	
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}