{% extends "catalog.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row sport-row">
		<div class="col-md-1"></div>
		<div class="col-md-10 sport-col">
			<div class="col-md-3 col1 text-left">
				<h3>Categories</h3>
				{% for sport in sports %}
				<a href = "{{url_for('showItem', sport_name = sport.name)}}">{{sport.name}}</a>
				<br>
				{% endfor %}
			</div> 
			<div class="col-md-7 col2">
				<h3>{{selected_sport}} Items ({{items|length}} Items)</h3>
				{% for item in items %}
				<a href = "{{url_for('showItemDescription', sport_name = item.sport_name, item_name = item.name)}}">{{item.name}}</span></a>
				<br>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}