{% extends "catalog.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row sport-row">
		<div class="col-md-1"></div>
		<div class="col-md-10 sport-col">
			<div class="col-md-3 col1 text-left">
				<h3><u>Categories</u></h3>
				{% for sport in sports %}
				<a href = "{{url_for('showItem', sport_name = sport.name)}}">{{sport.name}}</a>
				<br>
				{% endfor %}
			</div>
			<div class="col-md-7 col2 text-left">
				<br>
				<a href="{{url_for('newItem')}}">Add Item</a>
				<h3><u>Latest Items</u></h3>
				{% for item in items %}
				<a href = "{{url_for('showItemDescription', sport_name = item.sport_name, item_name = item.name)}}">{{item.name}}<span style="color:grey">({{item.sport_name}})</span></a>
				<br>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}